body{
    background: rgb(75, 9, 180);
    font-family: cursive;
}
h1{
    color: white;
    text-align: center;
}
section{
    background: white;
    border-radius: 10px;
    margin: 20rem;
    margin-top: 0rem;
    margin-bottom: 5rem;
    padding-bottom: 5px;
}

div#res{
    border: black solid 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: end;
    padding-right: 2rem;
    font-size: x-large;
    min-height: 80px;
}
div#botoes{
    text-align: center;
}
button{
    border: solid 1px black;
    background-color: rgb(149, 96, 235);
    padding: 15px 32px;
}
button:active{
    background-color: rgb(131, 82, 209);
}